@import "seattletimes";

body {
  max-width: 1200px;
  margin: auto;
}

.download {
  text-align: center;
  
  a {
    font-family: @df-sans;
  }
  
}
.hed {
  margin: auto;
  text-align: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 999;
  position: relative;

  img {
    width: 60%;
    max-width: 800px;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .share {
    position: absolute;
    top: 0;
    right: 0;

    label {
      background: white !important;
    }

    @media @mobile {

      width: 40px !important;

      label {
        span {
          display: none;
        }
      }

      .left {
        margin-left: -275px !important;
      }
    }
  }
}

.main-text {
  @width: 40%;
  font-size: 15px;
  line-height: 1.6em;
  width: @width;
  margin-left: 100% - @width;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding: 10px;
  padding-bottom: 300px;

  @media @mobile {
    width: 100%;
    margin-left: 0;
  }


  .intro {
    font-size: 18px;
    line-height: 1.6em;
    padding-bottom: 50px;

    @media @tablet {
      font-size: 16px;
    }
  }

  .credits {
    font-style: italic;
    line-height: 1.6em;
    font-size: 14px;
    padding-top: 10px;
  }

  .legend {
    .display-flex();
    padding: 0 10px;

    a {
      display: block;
      .flex(1);
    }

    img {
    }
    a.fish {
      display: none;
    }
    @media @mobile {
      a.fish {
        display:block;
      }
      
    }
  } //legend

  .header {
    font-family: @df-sans;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: .1em;

    img {
      width: 100%;
    }
  }

  .item {
    padding: 20px;
    margin-bottom: 60px;
    line-height: 1.6em;
    font-size: 18px;
    // border-bottom: 1px solid @df-light-gray;
    @media @not-mobile {
      &.bold {
        // font-weight: bold;
        background: rgba(255,255,255,0.5);
        border-radius: 4px;
        border-left: 3px solid black;

        &.sightsee {
          border-left-color: #B53F10;
        }

        &.stay {
          border-left-color: #466C9E;
        }

        &.eat {
          border-left-color: #8A7670;
        }
      }
    }
  }

  .label {
    font-family: @df-sans;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
    .display-flex();
    .align-items(flex-start);

    .text {
      display: inline-block;
      .flex(1);
      margin-left: 10px;
      margin-top: 4px;
      opacity: 20%;
    }

    .order-splotch {
      position: relative;
      .flex(0 0 32px);
    }

    .splotch {
      vertical-align: top;
      height: 30px;
    }
    .order {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);

      font-size: 18px;
      font-weight: 400;

      .icon {
        font-size: 8px;
      }
    }
  }
}

.map {
  position: fixed;
  width: 66%;
  left: 0;
  top: 35%;
  transition: all .3s ease-in-out;
  @media @mobile {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media @big-screen {
     width:50%;
     margin-top: auto;
    margin-bottom: auto;
  }

  #map-img {
    opacity: .7;
    transition: all .3s linear;
  }

  .legend {
    .display-flex();
    padding: 0 60px;
    opacity: 0;
    transition: all .2s linear;

    a {
      .flex(1);
    }
    @media @mobile {
      display: none;
    }
    img {
      width: 100%;
    }
  }

  @media @not-mobile {

    &.after-scroll {
      top: 40%;
      transform: translateY(-40%);

      #map-img {
        opacity: 1;
      }

      .icon {
        opacity: .4;
        cursor: pointer;

        &:hover, &:focus {
          opacity: 1;
          z-index: 999;
        }
      }

      .legend {
        opacity: 1;
      }
    }
  }

  @media (max-width: 1200px) {
    bottom: auto;
  }

  .icon {
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all .3s linear;
    transform-origin: 50% 50%;

    @media @mobile {
      opacity: 1;
      height: 10px;
      width: 10px;
        .order {
          visibility: hidden;
        }
      }

    @media @not-mobile {

      &.focused {
        transform: scale(1.5);
        max-width: 200%;
        opacity: 1;
        z-index: 999;
      }
    }

    .order {
      // font-weight: bold;
      position: absolute;
      font-family: @df-sans;
      color: white;
      font-size: 13px;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
    }
  }
}

//NAV
nav.top-bar {
  border-bottom: 1px solid @df-border-gray;
  margin-bottom: 20px;
  margin-top: -20px;

  @media @mobile {
    height: 40px;
    width: 100%;
  }

  .logo {
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    @media @mobile {
      top: 20px;
    }

    img {
      box-sizing: content-box;
      height: 30px;
      background: white;
      padding: 10px;

      @media @mobile {
        padding: 5px;
      }
    }
  }
}

.linking-out {
  background: white;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 -4px 8px 8px fade(black, 10%);
}