@import "seattletimes";

body {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.hed {
  max-width: auto;
  margin: auto;
  z-index: 10;
  background-color: #FFF;
  position: fixed;
}

.flex-container {
  .display-flex();
  top:370px;
  position: relative;
}

.main-text {
  .flex(2);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 9;
  @width: 40%;

  font-size: 15px;
  line-height: 1.6em;
  width: @width;
  margin-left: 100% - @width;

  @media @mobile {
    width: 100%;
    margin-left: 0;
  }

  .header {
    font-family: @df-sans;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: .1em;

    img {
      height: 120px;
    }
  }

  .item {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid @df-light-gray;
  }

  .label {
    font-family: @df-sans;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
    .display-flex();
    .align-items(flex-start);

    .text {
      display: inline-block;
      .flex(1);
      margin-left: 10px;
      margin-top: 4px;
    }

    .order-splotch {
      position: relative;
      .flex(0 0 32px);
    }

    .splotch {
      vertical-align: top;
      height: 30px;
    }
    .order {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 18px;
      font-weight: 400;

        .icon {
          font-size: 8px;
        }
    }
  }
}

.map {
  .flex(3);
  position: relative;
  // position: relative;
  width: 50%;
  left: 0;
  top: 375px;
  // z-index: -1;

  @media @mobile {
    position: static;
    width: 100%;
  }

  .icon {
    height: 3%;
    width: 3%;
    position: absolute;
    text-align: center;

    .order {
      position: absolute;
      top: 15%;
      left: 25%;
      color: white;
      font-size: 14px;
    }
  }
}
