<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <div class="hed"><img src="./assets/Fish/olympicfish-headline.png"></div>

    <div class="">

      <div class="main-text">
        <% var categories = {};
          json.FishPage2016_Sheet1.forEach(function(item) {
            if (!categories[item.category]) categories[item.category] = [];
            categories[item.category].push(item);
          });
        %>

        <div class="header">
          <img src="./assets/Headers/fish-header.png">
        </div>
        <% categories.fish.forEach(function (item) { %>

          <div class="item" data-order="<%= item.order %>">
            <img src="./assets/Fish/<%=item.image%>-dummy-web.png">
            <div class="label">
              <div class="order-splotch">
                <img class="splotch" src="./assets/Icons/splotch-1.png">
                <div class="order"><%=item.order%></div>
              </div>
              <div class="text"><%= item.label %></div>

            </div>
            <%= item.text %>
          </div>
        <% }); %>

        <div class="header">
          <img src="./assets/Headers/sightsee-header.png">
        </div>
        <% categories.sightsee.forEach(function (item) { %>
          <div class="item">
            <div class="label"><img class="splotch" src="./assets/Icons/splotch-1.png"><div class="text"><%= item.label %></div></div>
            <%= item.text %>
          </div>
        <% }); %>

        <div class="header">
          <img src="./assets/Headers/stay-header.png">
        </div>
        <% categories.stay.forEach(function (item) { %>
          <div class="item">
            <%= item.text %>
          </div>
        <% }); %>

        <div class="header">
          <img src="./assets/Headers/eat-header.png">
        </div>
        <% categories.eat.forEach(function (item) { %>
          <div class="item">
            <%= item.text %>

          </div>
        <% }); %>
      </div>

      <div class="map">
        <img src="./assets/Map/wa-map-dummy-web.png">
        <% for (var c in categories) {
          var cat = categories[c];
          cat.forEach(function(item) { %>
            <div class="icon" style="top: <%= item.top %>%; left: <%= item.left %>%;">
              <div class="order"><%=item.order%></div>

              <% if (item.category === "fish") { %>
                <img src="./assets/Icons/splotch-1.png">
              <% }
              else if (item.category === "stay")  { %>
                <img src="./assets/Icons/splotch-stay.png">

              <% }
              else if (item.category === "sightsee") { %>
                <img src="./assets/Icons/splotch-sightsee.png">
              <% }

              else { %>
                <img src="./assets/Icons/splotch-eat.png">

              <% }%>
            </div>



          <% });
        } %>
      </div>

    </div>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
