<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
    <%= t.include("./partials/_ad.html", { type: "banner" }) %>
    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/seattletimes.svg">
      </a>
    </nav>

    <div class="hed">
      <a class="share top"></a>
      <img src="./assets/Fish/olympicfish-headline.png">
    </div>

    <div class="flex-container">

    <% var categories = {};
      json.FishPage2016_Sheet1.forEach(function(item) {
        if (!categories[item.category]) categories[item.category] = [];
        categories[item.category].push(item);
      });
    %>

    <div class="map">

      <img id="map-img" src="./assets/Map/wash-map-final.jpg">

      <div class="legend">
        <a href="#fish" class="jump"><img src="./assets/Headers/fish-header-icon.png"></a>
        <a href="#sightsee" class="jump"><img src="./assets/Headers/sightsee-header-icon.png"></a>
        <a href="#stay" class="jump"><img src="./assets/Headers/stay-header-icon.png"></a>
        <a href="#eat" class="jump"><img src="./assets/Headers/eat-header-icon.png"></a>
      </div>

      <% for (var c in categories) {
        var cat = categories[c];
        cat.forEach(function(item) { %>

          <div class="icon" data-id="<%= item.id %>" style="top: <%= item.top %>%; left: <%= item.left %>%;">
            <div class="order"><%=item.order%></div>

            <% if (item.category === "fish") { %>
              <img src="./assets/Icons/splotch-1.png">
            <% }
            else if (item.category === "stay")  { %>
              <img src="./assets/Icons/splotch-stay.png">

            <% }
            else if (item.category === "sightsee") { %>
              <img src="./assets/Icons/splotch-sightsee.png">
            <% }

            else { %>
              <img src="./assets/Icons/splotch-eat.png">

            <% }%>
          </div>

        <% });
      } %>
    </div>



      <div class="main-text">
        <div class="legend">
          <a href="#fish" class="jump fish"><img src="./assets/Headers/fish-header.png"></a>
          <a href="#sightsee" class="jump"><img src="./assets/Headers/sightsee-header.png"></a>
          <a href="#stay" class="jump"><img src="./assets/Headers/stay-header.png"></a>
          <a href="#eat" class="jump"><img src="./assets/Headers/eat-header.png"></a>
        </div>
        <div class="intro">Have you ever been to a special place you never wanted to leave? Then it’s time to set your sights for the snow-capped peaks of Olympic National Park – home to some of the state’s best fresh- and salt-water fishing. Within the park, there are 31 native freshwater fish species from 11 different families of fish, and at least 70 unique populations of salmon, trout and char, as well as five non-native fish. It might feel like you’re hundreds of miles away from civilization, but the park is just a three-hour drive from Seattle.
          <div class="credits">
            Reporting by Mark Yuasa<br>
            Graphics and illustration by Kelly Shea<br>
            Development by Elif Koc
          </div>
        </div>

        <%
        var sections = [{
          headerImage: "fish-header.png",
          category: "fish",
          splotch: "splotch-1",
        },

        {
          headerImage: "sightsee-header.png",
          category: "sightsee",
          splotch: "splotch-sightsee",
        },

        {
          headerImage: "stay-header.png",
          category: "stay",
          splotch: "splotch-stay",
        },

        {
          headerImage: "eat-header.png",
          category: "eat",
          splotch: "splotch-eat",
        }
        ];

        sections.forEach(function(section) { %>
            <div class="header" id="<%= section.category %>">
              <img src="./assets/Headers/<%= section.headerImage %>">
            </div>

          <% var cat = categories[section.category];
            cat.forEach(function(item) { %>

            <div class="<%= section.category %> item" data-id="<%= item.id %>">
              <% if (item.image) { %>
              <img src="./assets/Fish/<%=item.image%>-final.png">
                <% } %>
              <div class="label">

                <div class="order-splotch">
                  <img class="splotch" src="./assets/Icons/<%= section.splotch %>.png">
                  <div class="order"><%=item.order%></div>
                </div>

                <div class="text"><%= item.label %></div>
              </div>
            <%= item.text %>
          </div>
        <% })
        })
        %>

    </div>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
